.selected-flag:hover {
    background-color: #d9d9d933 !important;
    border-radius: 15px !important;
  }
  
  li.country {
    height: 80px !important;
    display: flex !important;
    align-items: center !important;
    justify-items: center;
  }
  
  ul.country-list {
    border-radius: 15px !important;
    max-height: 400px !important;
  }
  